{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
    {% for task in tasks %}
        {% if task.is_complete %}
            <div class="alert alert-success" style="margin: 50px">
                <a href="{% url 'task_detail' task_id=task.id %}">№{{ task.id }} {{ task.title }}</a>
                <a style="float: right;" href="{% url 'task_status_update' task_id=task.id %}">Complete</a>
            </div>
        {% else %}
            <div class="alert alert-warning" style="margin: 50px">
                <a href="{% url 'task_detail' task_id=task.id %}">№{{ task.id }} {{ task.title }}</a>
                <a style="float: right;" href="{% url 'task_status_update' task_id=task.id %}">Not complete</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
